.test-case {
	background-image: url(http://placehold.it/350x150);
}
.test-case2 {
	background-image: url("http://placehold.it/5500x250");
}
.test-case3 {
	background-image: url('http://placehold.it/9500x950');
}